@page
@model UserControlForm.Common.Pages.FormEditorV2PageModel
@{
    ViewData["Title"] = "Form Editör V2";
    ViewData["PageId"] = "FormEditorV2";
}

@section Head {
    <link href="~/FormEditorV2.css" rel="stylesheet" />
}

<div id="GridDiv"></div>

<script type="text/javascript">
    var grid;
    $(function () {
        grid = new UserControlForm.FormEditorV2Grid($('#GridDiv'));
        grid.init();
    });
</script>